body {
    background-color: #DAD7CD;
}
h1{
    color: #5D576B;
    text-align: center;
    border-style: solid;
  border-color: #929982;

}
h2{
    color: cadetblue;
    text-align: center;
    border-style: solid;
  border-color: #929982;

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: #344E41;;
}

.grid-item {
  background-color: #A3B18A;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
dl{
  font-family: 'Courier New', Courier, monospace;
   
}
    
  
 
/* Makes all unvisited links purple with no text decoration (i.e. not underlined)*/
a:link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

/* Makes all visited links gray and with a line through */
a:visited {
	color: rgb(102, 79, 130);
	text-decoration: line-through;
}

/* Makes links purple and bold when hovered over */
a:hover {
	color: rgb(25, 53, 32);
	font-weight: bold;
}


p{
  font-family:'Courier New', Courier, monospace;
}